:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Main */
  background-color: #deedfa;
  color: var(--color-text);

  --color-sidebar: #a5ccea;
  --color-primary: #78a7d5;
  --color-primary-hover: #9ec6f3;
  --color-disabled: #b3cde0;
  --color-sidebar-item-buttons: #98c1df;
  --color-white-text: white;
  --color-details: #e7f3fe;
  --color-wrapper: #ebf6fe;
  --color-wrapper-shadow: #a3cae6;
  --color-hover: #b9e2f5;
  --color-active: #e6f4ff;
  --color-icon: #9dc8e8;
  --color-icon-border: #3d6ea2;
  --color-text: #2d6190;
  --color-success: #a5ccea;
  
  /* Danger */
  --color-danger: #9e2c51;
  --color-danger-hover: #7a2340;
}
